<?xml version="1.0"?>

<robot name="gen3" xmlns:xacro="http://ros.org/wiki/">
  <!-- Arguments -->
  <xacro:arg name="arm" default="gen3" />
  <xacro:arg name="dof" default="7" />
  <xacro:arg name="vision" default="true" />

  <xacro:arg name="gripper" default="" />

  <xacro:arg name="sim" default="false" />
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find kortex_description)/robots/kortex_robot.xacro" />
  <xacro:load_robot arm="$(arg arm)" gripper="$(arg gripper)" dof="$(arg dof)"
    vision="$(arg vision)" sim="$(arg sim)" prefix="$(arg prefix)" />

  <xacro:include filename="$(find rokubimini_description)/urdf/BFT_SENS_ECAT_M8.urdf.xacro" />
  <xacro:BFT_SENS_ECAT_M8 prefix="FT_sensor" />

  <link name="FT_adapter">
    <inertial>
      <origin xyz="0.001329828523918 0.000509434161397 0.017297595549827" rpy="0 0 0" />
      <mass value="0.12" />
      <inertia ixx="5.40350E-05" ixy="8.13203E-08" ixz="1.70226E-06" iyy="5.69809E-05"
        iyz="1.05961E-06" izz="8.81951E-05" />
    </inertial>

    <visual name="adapter">
      <origin xyz="0 0 0.0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://@CMAKE_SOURCE_DIR@/meshes/force_sensor/adapter.STL"
          scale="0.001 0.001 0.001" />
      </geometry>
      <material name="">
        <color rgba="0.6902 0.61176 0.52941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.015" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.0075" length="0.03" />
      </geometry>
    </collision>
  </link>

  <link name="DS4">
    <inertial>
      <origin xyz="0.0 0.0 0.04" rpy="0 0 0" />
      <mass value="0.35" />
      <inertia ixx="5.40350E-05" ixy="8.13203E-08" ixz="1.70226E-06" iyy="5.69809E-05"
        iyz="1.05961E-06" izz="8.81951E-05" />
    </inertial>

    <visual name="ds4">
      <origin xyz="0.0 0.0 0.03" rpy="0 0 0" />
      <geometry>
        <box size="0.02 0.02 0.03" />
      </geometry>
      <material name="">
        <color rgba="0.6902 0.61176 0.52941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.015" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.0075" length="0.03" />
      </geometry>
    </collision>
  </link>

  <link name="DS4_tool"></link>

  <joint name="kinova_to_adapter" type="fixed">
    <parent link="end_effector_link" />
    <child link="FT_adapter" />
    <origin xyz="0.0 0.0 0.03" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="adapter_to_FT" type="fixed">
    <parent link="FT_adapter" />
    <child link="FT_sensor_mounting" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="DS4_to_FT" type="fixed">
    <parent link="FT_sensor_wrench" />
    <child link="DS4" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="DS4_to_tool" type="fixed">
    <parent link="DS4" />
    <child link="DS4_tool" />
    <origin xyz="0.0 0.0 0.06" rpy="0.0 0.0 0.0" />
  </joint>
</robot>
